
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    background-image: url(https://media.licdn.com/dms/image/C5612AQFCqJsd-lxP-g/article-cover_image-shrink_720_1280/0/1600869820315?e=2147483647&v=beta&t=hDacwCEd-WYZ4RI2x1qgXHy-vTlrhqawzbaSft_Y4Sw);
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
}
div {
/*     background: linear-gradient(to right , rgb(116,58,212),rgb(211,58,157)); */
    background: linear-gradient(to right , rgb(209, 212, 58),rgb(211, 58, 208));
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}


button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

td {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

tr:hover td {
    background-color: #e9f5ff;
}


table button {
    background-color: #28a745;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
}

table button:hover {
    background-color: #218838;
}

table button[style*="background-color: red"] {
    background-color: #dc3545;
}

table button[style*="background-color: red"]:hover {
    background-color: #c82333;
}

label {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  

  



